 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/305796691b3ab6c53c9a63ff76615eee139f25958dcd102499e4d7d442adbc20c9a3cfdaf908e73b8408f227415a2f88fab6b036c194184f932933_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 993px;
}

.u-section-1 .u-text-1 {
  font-weight: 100;
  text-transform: none;
  margin: 258px auto 0 20px;
}

.u-section-1 .u-text-2 {
  font-family: SupermercadoOne-Regular;
  margin: 30px 97px 0 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 49px auto 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 627px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }
}@font-face {
  font-family: 'SupermercadoOne-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SupermercadoOne-Regular.ttf);
}@font-face {
  font-family: 'NewRocker-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NewRocker-Regular.ttf);
}