 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 993px;
}

.u-section-1 .u-text-1 {
  font-weight: 100;
  text-transform: none;
  margin: 259px auto 0 20px;
}

.u-section-1 .u-text-2 {
  font-family: SupermercadoOne-Regular;
  margin: 27px 97px 0 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 50px auto 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 130px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 77px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 143px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 97px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 97px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 60px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1518px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 60px;
    margin-left: 0;
  }
}@font-face {
  font-family: 'SupermercadoOne-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SupermercadoOne-Regular.ttf);
}@font-face {
  font-family: 'NewRocker-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NewRocker-Regular.ttf);
}