 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 993px;
}

.u-section-1 .u-text-1 {
  font-weight: 100;
  text-transform: none;
  margin: 259px auto 0 20px;
}

.u-section-1 .u-text-2 {
  font-family: SupermercadoOne-Regular;
  margin: 27px 97px 0 20px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 50px auto 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 627px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }
}@font-face {
  font-family: 'SupermercadoOne-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SupermercadoOne-Regular.ttf);
}@font-face {
  font-family: 'NewRocker-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NewRocker-Regular.ttf);
}