 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1151px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: bold;
  text-transform: none;
  margin: 145px auto 0 20px;
}

.u-section-1 .u-image-1 {
  width: 510px;
  height: 323px;
  margin: 90px auto 0 47px;
}

.u-section-1 .u-text-2 {
  font-family: supermercadoone-regular-webfont;
  margin: -241px 258px 0 auto;
}

.u-section-1 .u-text-3 {
  font-family: supermercadoone-regular-webfont;
  margin: 20px 207px 0 auto;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 20px 206px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 510px;
  height: 323px;
  margin: 102px auto 0 47px;
}

.u-section-1 .u-text-4 {
  font-family: supermercadoone-regular-webfont;
  margin: 20px 206px 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 20px 204px 60px auto;
}

.u-section-1 .u-text-5 {
  font-family: supermercadoone-regular-webfont;
  width: auto;
  font-size: 1.125rem;
  margin: -361px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 6px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 47px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
    margin-left: 47px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: 47px;
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
    margin-left: 47px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
    margin-left: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 0;
    margin-left: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 30px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 100px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 215px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -139px;
    margin-right: -1px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 215px;
    margin-top: 261px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin: -95px 0 0 auto;
  }
}@font-face {
  font-family: 'supermercadoone-regular-webfont';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/supermercadoone-regular-webfont.woff2);
}@font-face {
  font-family: 'newrocker-regular-webfont';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/newrocker-regular-webfont.woff2);
}