 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 936px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: bold;
  text-transform: none;
  margin: 145px auto 0 20px;
}

.u-section-1 .u-image-1 {
  width: 510px;
  height: 323px;
  margin: 40px auto 0 20px;
}

.u-section-1 .u-image-2 {
  width: 510px;
  height: 323px;
  margin: -323px auto 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 100px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 215px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 215px;
    margin-top: -215px;
  }
}@font-face {
  font-family: 'newrocker-regular-webfont';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/newrocker-regular-webfont.woff2);
}@font-face {
  font-family: 'supermercadoone-regular-webfont';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/supermercadoone-regular-webfont.woff2);
}